<!DOCTYPE html>
<html lang="en">

<head>

  <link rel="shortcut icon" href="{{ url_for('static', filename='favicio.ico')}}" />
  <meta property="og:title" content="Sweeter - the sweetest site" />
  <meta property="og:description" content="Are you looking for me?" />
  <meta property="og:image" content="{{ url_for('static', filename='ogimage.png') }}" />

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">

</head>

<body>
  <section class="hero is-large is-info">
    <div class="hero-body">
      <p class="title">About This Site</p>
      <p class="subtitle">This should be available for everyone to see!</p>
    </div>
  </section>
</body>

</html>